@model Samsung.BusinessLogic.ViewModels.ProductVM
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Product</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Category)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Color)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Color)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Stock)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Stock)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>
</fieldset>

@Html.Partial("AddToCart", new Samsung.BusinessLogic.ViewModels.ShoppingCartItemVM() { IdProduct = Model.Id })

<p>
    @Html.ActionLink("Proceed to checkout", "../Shopping/Index", new { Id = Model.Id }) |
    @Html.ActionLink("Continue shopping", "Index")|
    @Html.ActionLink("Edit", "Edit", new { Id = Model.Id })
</p>
