<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>

    <meta name="viewport" content="width=device-width"/>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>







<body>
        <header>




        </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>









    <footer>

        <div class="container bottomcontainer">
            <!-- sub slider -->
            <div class="row">
                <div class="col-md-1"></div>

                <div class="col-md-2">
                    <p><strong>GIFT CARDS</strong></p>

                    <p><strong>FIND A STORE</strong></p>

                    <p><strong>SIGN UP FOR EMAIL</strong></p>

                    <p><strong>JOIN NIKE+</strong></p>

                </div>

                <div class="col-md-2">
                    <p><strong>GET HELP</strong></p>
                    <p>Order Status</p>
                    <p>Shipping and Delivery</p>
                    <p>
                        Returns</p>
                        <p>Payment Options</p>
                        <p>Contact Us</p>
                </div>

                <div class="col-md-2">
                    <p><strong>NEWS</strong></p>
                    <p><strong>ABOUT NIKE</strong></p>
                    <p>Careers</p>
                    <p>Investors</p>
                    <p>Supply Chain</p>
                    <p>Nike Better Worls</p>
                </div>

            </div>
            <hr />
            <div id="bottombox">
                © 2015 Nike, Inc. All Rights Reserved
                <span id="footernote">

                    <a href="#">Guides</a>
                    <a href="#">Terms of use</a>
                    <a href="#">Nike Privacy Policy</a>

                </span>
            </div>
        </div>




    </footer>














    @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
