@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model CMSSite.Models.Pages.PDP

<div>
    @Html.PropertyFor(m => m.Heading)
</div>

<hr />

<div>
  @Html.PropertyFor(m => m.MainBody)
</div>

<hr />











<div>
    @Html.PropertyFor(m => m.PageImage)
</div>

<hr />












<div>
    @Html.PropertyFor(m => m.ShowTeaser )
</div>

<hr />




<div>
    @Html.PropertyFor(m => m.Price  )
</div>

<hr />

<div>
    @Html.PropertyFor(m => m.Votes  )
</div>

<hr />



<div>
    @Html.PropertyFor(m => m.Form  )
</div>

<hr />






















<div>
    This is the PDP
</div>






